<!-- Foot -->

<!-- Three column footer -->

<div class="foot">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="padd">
          <!-- Add class "widget" -->
          <div class="widget">
            <!-- Title -->
            <h3>Learning endeavor for ever…</h3>
            <!-- Content -->
            <!-- Below is the blockquote -->
            <blockquote>
              <p class="jtxt">Welcome to My Blog! On this site you'll find interesting posts, articles, tutorials, news updates and links on Microsoft.Net, ASP.NET, MVC, WebAPIs, C#, Windows8, Metro Apps, WCF, XAML, JavaScript, jQuery, AngularJS, NodeJS, Social Media, Mobiles, Science & Technology and other random thoughts and opinions. </p>
              <!-- Author information -->
              <small>Pinal Bhatt</small>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="padd">
          <div class="widget">
            <h3>Recent Posts</h3>
            <ul>
                {% assign loopCounter = 0 %}
                {% for post in site.posts  %}
                  {% if loopCounter < 5 %}
                    {% if post.type == 'post' %}
                      <li><a href="{{post.url}}">{{ post.title }}</a></li>
                      {% assign loopCounter = loopCounter | plus: 1 %}
                    {% endif %}
                  {% else %}
                    {% break %}
                  {% endif %}
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="padd">
          <div class="widget">
            <h3>My Sites</h3>
            <ul style="list-style: none;">
              <li><a href="/"><i class="fa fa-home"></i>  Home</a></li>
              <li><a href="/feed.xml"><i class="fa fa-rss"></i> RSS</a></li>
              <li><a href="/SiteMap" target="_blank"><i class="fa fa-sitemap"></i> SiteMap</a></li>
              <li><a href="/Disclaimer"><i class="fa fa-warning"></i> Disclaimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Copyright information -->
        <div class="fpadd">Pinal Bhatt's Blog &copy; 2015 </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>
