<!-- 2nd widget -->

<div class="widget">
    <h3 class="matopen">Featured</h3>
    <div class="matter">
        <ul>
            <li><a href="/TechNews">TechNews</a></li>
            <li><a href="/Articles">Articles</a></li>
            <li><a href="/ebooks">eBooks</a></li>
            <li><a href="/Tutorials">Tutorials</a></li>
            <li><a href="/categories">All Categories</a></li>
        </ul>
    </div>
</div>
<!-- 3rd widget -->
<div class="widget">
    <h3 class="matopen">Tags/Labels</h3>
    <div class="matter">
        <ul>
            <li><a href="/tag/JavaScript">JavaScript</a></li>
            <li><a href="/tag/NodeJS">NodeJS</a></li>
            <li><a href="/tag/MVC6">MVC6</a></li>
            <li><a href="/tag/MyProject">MyProject</a></li>
            <li><a href="/tag">All Tags</a></li>
        </ul>
    </div>
</div>
<div class="widget">
    <h3 class="matopen">About Me</h3>
    <div class="staff">
        <!-- Staff Picture -->
        <div class="author"><img src="/img/logo/pbdesk/PBDesk.png" alt="" /></div>
        <!-- Staff name and designation -->
        <p class="name">Pinal Bhatt <span>Software Engineer</span></p>
        <!-- Small para about staff -->
        <p>Always on the learning ramp.</p>
        <!-- Staff social profiles. Replace # with profile link. -->
        <div class="social">
            <a target="_blank" class="twitter" href="http://twitter.com/PBDesk" ><i class="fa fa-twitter"></i></a>
            <a target="_blank" class="facebook" href="https://www.facebook.com/Go.PBDesk"><i class="fa fa-facebook"></i></a>
            <a target="_blank" class="google-plus" href="https://plus.google.com/+Pbdesk" ><i class="fa fa-google-plus"></i></a>
            <a target="_blank" class="linkedin" href="http://www.linkedin.com/in/pinalbhatt" ><i class="fa fa-linkedin"></i></a>
            <a target="_blank" class="pinterest" href="https://github.com/PBDesk" ><i class="fa fa-github"></i></a>
        </div>
    </div>

</div>