<!-- 2nd widget -->

<div class="widget">
    <h3 class="matopen">Featured</h3>
    <div class="matter">
        <ul>
            <li><a href="/TechNews">TechNews</a></li>
            <li><a href="/Articles">Articles</a></li>
            <li><a href="/ebooks">eBooks</a></li>
            <li><a href="/Tutorials">Tutorials</a></li>
            <li><a href="/categories">All Categories</a></li>
        </ul>
    </div>
</div>
<!-- 3rd widget -->
<div class="widget">
    <h3 class="matopen">Tags/Labels</h3>
    <div class="matter">
        <ul>
            <li><a href="/tag/JavaScript">JavaScript</a></li>
            <li><a href="/tag/NodeJS">NodeJS</a></li>
            <li><a href="/tag/MVC6">MVC6</a></li>
            <li><a href="/tag/MyProject">MyProject</a></li>
            <li><a href="/tag">All Tags</a></li>
        </ul>
    </div>
</div>
