---
layout: default
sections:
  additionalJS:
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-sanitize.min.js"></script>
    <script src="/ng/GoogleFeeds/GoogleFeedFetcher.js"></script>
    <script src="/ng/TechNews/TechNewsApp.js"></script>
    <script type="text/javascript">
      google.load("feeds", "1");
      google.setOnLoadCallback(function () {
        angular.bootstrap(document.body, ['TechNewsApp']);
      });
    </script>
---
<script type="text/javascript">
  window.TechNewsData = {
    RssLink: "{{page.RssLink}}",
    FeedType: "{{page.FeedType}}",
    ItemCount: "{{page.ItemCount}}"
  }

</script>

<div class="padd whity content blog">
  <!-- Main Content Starts Here -->
  <!-- Content should be encloased inside div with the class "posts" -->
  <div class="posts">
    <!-- Breadcrumbs -->
    <ul class="breadcrumb">
      <li><a href="/" >Home</a></li>
      <li><a href="/TechNews" >TechNews</a></li>
    </ul>
    <!-- Each entry should be enclosed inside div with the class "entry" -->
    <div class="entry">

      <h2><a href="#">{{page.title}}</a></h2>

      <div class="features"  ng-controller="TechNewsController as vm" class="ng-cloak">

        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="row" ng-repeat="item in vm.Data.entries" >
              <div class="features-item">
                <h4 class="listjsTitle"><a href="/TechNews/{{item.sanitizedName}}">[[item.title]]</a></h4>
                <p class="jtxt">[[ item.matter ]]</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="features">
              <div class="row">
                {% for item in site.data.technews %}
                <div class="row" >
                  <div class="features-item">
                    <h5 class="listjsTitle"><a href="/TechNews/{{item.sanitizedName}}">{{item.pageHeader}}</a></h5>

                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

          </div>





        </div>
      </div>


    </div>
    {% include social_share.html %}
  </div>
</div>