---
layout: post
title: Adieu PBDesk.com V2
stitle: Adieu PBDesk.com V2
description: Good Bye to PBDesk.com Version 2.0. Some screen shots of my creations.
sdesc: Good Bye to PBDesk.com Version 2.0. Some screen shots of my creations.
banner: /img/2014/08/2013_homepage.png
date: 2014-08-06 15:07:20.000000000 -04:00
categories:
- Featured
- MyProjects
tags:
- PBDesk
status: publish
type: post
published: true


---
<p style="text-align: justify;">Long back posted that i want to <a title="ReWriting PBDesk.com" href="http://blogs.pbdesk.com/rewriting-pbdesk-com/" target="_blank">rewrite my site </a>with all new ASP.Net MVC, WebAPI, Umbaco7, AngularJS &amp; Twitter Bootstrap.  It took lot of time for me to rewrite my site but finally New PBDesk.com V3 is almost ready now so its time to say good bye to existing site what I call V2.  But i have archived this old site at http://2013.PBDesk.com.[stextbox id="info"]Old site archived at <a title="PBDesk.com V2" href="http://2013.PBDesk.com" target="_blank">http://2013.PBDesk.com</a>.[/stextbox]</p>
<div class="entry" style="padding-bottom: 0;margin-bottom: -21px;">
  <div class="padd" style="padding-bottom: 0">
    <h5>Here are glimpse of old site"</h5>
      {% include imageSlider.html sliderData=site.data.sliders.adieu-pbdesk-com-v2 %}
  </div>
</div>
<div id="portfolio">
  {% for item in site.data.sliders.adieu-pbdesk-com-v2 %}
  <div class="element">
    <a href="{{item.image}}" class="prettyphoto">
      <img src="{{item.image}}" alt="{{item.caption}}"/>
    </a>
  </div>
  {% endfor %}
</div>

  <div class="alert alert-success" role="alert">
    <blockquote>
    <p>New site now live at <a title="PBDesk.com - from the desk of Pinal Bhatt" href="http://www.PBDesk.com" target="_blank">PBDesk.com</a> </p>
    </blockquote>
  </div>

<blockquote class="alert alert-success" role="alert">
  <p>New site now live at <a title="PBDesk.com - from the desk of Pinal Bhatt" href="http://www.PBDesk.com" target="_blank">PBDesk.com</a> </p>
</blockquote>

